{% extends "base.html" %} {% block main %}
<div>
  <table class="table table-bordered margin-left">
    <th>Project Name</th>
    <th>Project Description</th>
    <th>Is it completed?</th>
    <th>Team</th>
    {% for project in projects %}
    <tr>
      <div class="projects-nav">
      <td class="nav-color">{{ project.project_name }}</td>
      <td class="nav-color">{{ project.description }}</td>
      <td class="nav-color">{{ project.completed }}</td>
      <td class="nav-color">{{ project.team.team_name }}</td>
      </div>
      <td>
        <a href="{{ url_for('update_project', project_id = project.id) }}">
          <button type="button" class="btn btn-primary">Update</button>
        </a>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}